.GamesHistory {
  background-color: #2C254A;
  padding: 16px 17px 0;
}

.GamesHistory__swiperAndRating {
  position: relative;
  z-index: 0;
}

.GamesHistory__history {
 margin-top: 25px;
}

.GamesHistory__history__cards {
  margin-top: 10px;
}
