.massageWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.massageText {
  text-align: center;
}

.EmailVerify__btn {
  text-transform: none;
}
